@font-face { 
  font-family:Conduit; 
  font-style:normal;
  src:url('../fonts/ConduitITCStd-Regular.otf'); 
}

@font-face { 
  font-family:Conduit; 
  font-style:normal;
  font-weight:bold; 
  src:url('../fonts/ConduitITCStd-ExtraBold.otf');  
}

@font-face { 
  font-family:entypo; 
  src:url('../fonts/entypo.woff'), 
  url('../fonts/entypo.eot'); 
  font-style:normal; 
  font-weight:normal; 
}


