.footer { 
  background:url('../img/footer-bg.jpg') repeat-x; 
  display:block; 
  float:left; 
  position:relative;
  height:960px; 
}

.footer .container { 
  background:url('../img/footer.jpg') top center no-repeat; 
  height:960px; 
  padding:0; 
}