@font-face {
  font-family: Conduit;
  font-style: normal;
  src: url("../fonts/ConduitITCStd-Regular.otf");
}

@font-face {
  font-family: Conduit;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ConduitITCStd-ExtraBold.otf");
}

@font-face {
  font-family: entypo;
  src: url("../fonts/entypo.woff"), url("../fonts/entypo.eot");
  font-style: normal;
  font-weight: normal;
}

/* line 1, ../sass/base/_buttons.scss */
a.btn, .btn {
  background: #3399cc;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 44px;
  line-height: 42px;
  padding: 2px 20px 0;
  text-decoration: none;
}

/* line 13, ../sass/base/_buttons.scss */
a.btn:hover {
  color: #fff;
}

/* line 17, ../sass/base/_buttons.scss */
a.btn.orange, .btn.orange {
  background-color: #e48325;
}

/* line 21, ../sass/base/_buttons.scss */
a.btn.green, .btn.green {
  background-color: #99cc33;
}

/* line 25, ../sass/base/_buttons.scss */
a.btn.black, .btn.black {
  background-color: #222222;
}

/* line 29, ../sass/base/_buttons.scss */
a.btn.white, .btn.white {
  background-color: #fff;
  color: #222222;
}

/* line 34, ../sass/base/_buttons.scss */
a.btn.transparent, .btn.transparent {
  background-color: transparent;
}

/* line 38, ../sass/base/_buttons.scss */
a.btn.small, .btn.small {
  font-size: 18px;
  height: 32px;
  line-height: 29px;
  padding: 3px 15px 0;
}

/* line 45, ../sass/base/_buttons.scss */
a.btn.icon, .btn.icon {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  width: 44px;
}

/* line 52, ../sass/base/_buttons.scss */
a.btn.icon.small, .btn.icon.small {
  width: 32px;
}

/* line 56, ../sass/base/_buttons.scss */
a.btn.icon-left, .btn.icon-left {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 44px;
}

/* line 62, ../sass/base/_buttons.scss */
a.btn.icon-right, .btn.icon-right {
  background-repeat: no-repeat;
  background-position: right top;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  line-height: 23px;
  padding-right: 34px;
}

/* line 1, ../sass/base/_forms.scss */
input[type="text"], textarea {
  background-color: #efefef;
  border: 1px solid #c2c2c2;
  color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: Conduit, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  height: 38px;
  padding: 3px 10px 0;
  width: 100%;
}

/* line 14, ../sass/base/_forms.scss */
input[type="text"]:focus, textarea:focus {
  background-color: #fff;
  color: #222222;
  font-style: normal;
}

/* line 20, ../sass/base/_forms.scss */
textarea {
  max-width: 100%;
  padding-top: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 26, ../sass/base/_forms.scss */
select {
  background: #efefef url("../img/select-bg.png") right center no-repeat;
  background-size: 32px 32px;
  border: none;
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font: normal;
  font-family: Conduit, Arial, sans-serif;
  font-size: 18px;
  height: 32px;
  line-height: 30px;
  padding: 2px 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 1, ../sass/base/_footer.scss */
.footer {
  background: url("../img/footer-bg.jpg") repeat-x;
  display: block;
  float: left;
  position: relative;
  height: 960px;
}

/* line 9, ../sass/base/_footer.scss */
.footer .container {
  background: url("../img/footer.jpg") top center no-repeat;
  height: 960px;
  padding: 0;
}

/* line 1, ../sass/base/_grid.scss */
section {
  float: left;
  position: relative;
  width: 100%;
}

/* line 7, ../sass/base/_grid.scss */
.container {
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  width: 1000px;
}

/* line 9, ../sass/base/_grid.scss */
.grid_1 {
  width: 10%;
}

/* line 10, ../sass/base/_grid.scss */
.grid_1_half {
  width: 16%;
}

/* line 11, ../sass/base/_grid.scss */
.grid_2 {
  width: 20%;
}

/* line 12, ../sass/base/_grid.scss */
.grid_2_half {
  width: 26%;
}

/* line 13, ../sass/base/_grid.scss */
.grid_3 {
  width: 30%;
}

/* line 14, ../sass/base/_grid.scss */
.grid_3_half {
  width: 36%;
}

/* line 15, ../sass/base/_grid.scss */
.grid_4 {
  width: 40%;
}

/* line 16, ../sass/base/_grid.scss */
.grid_4_half {
  width: 46%;
}

/* line 17, ../sass/base/_grid.scss */
.grid_5 {
  width: 50%;
}

/* line 18, ../sass/base/_grid.scss */
.grid_5_half {
  width: 56%;
}

/* line 19, ../sass/base/_grid.scss */
.grid_6 {
  width: 60%;
}

/* line 20, ../sass/base/_grid.scss */
.grid_6_half {
  width: 66%;
}

/* line 21, ../sass/base/_grid.scss */
.grid_7 {
  width: 70%;
}

/* line 22, ../sass/base/_grid.scss */
.grid_7_half {
  width: 76%;
}

/* line 23, ../sass/base/_grid.scss */
.grid_8 {
  width: 80%;
}

/* line 24, ../sass/base/_grid.scss */
.grid_8_half {
  width: 86%;
}

/* line 25, ../sass/base/_grid.scss */
.grid_9 {
  width: 90%;
}

/* line 26, ../sass/base/_grid.scss */
.grid_9_half {
  width: 96%;
}

/* line 27, ../sass/base/_grid.scss */
.grid_10 {
  width: 100%;
}

/* line 29, ../sass/base/_grid.scss */
.offset_half {
  margin-left: 4%;
}

/* line 30, ../sass/base/_grid.scss */
.offset_1 {
  margin-left: 10%;
}

/* line 31, ../sass/base/_grid.scss */
.offset_1_half {
  margin-left: 14%;
}

/* line 32, ../sass/base/_grid.scss */
.offset_2 {
  margin-left: 20%;
}

/* line 33, ../sass/base/_grid.scss */
.offset_2_half {
  margin-left: 24%;
}

/* line 34, ../sass/base/_grid.scss */
.offset_3 {
  margin-left: 30%;
}

/* line 35, ../sass/base/_grid.scss */
.offset_3_half {
  margin-left: 34%;
}

/* line 36, ../sass/base/_grid.scss */
.offset_4 {
  margin-left: 40%;
}

/* line 37, ../sass/base/_grid.scss */
.offset_4_half {
  margin-left: 44%;
}

/* line 38, ../sass/base/_grid.scss */
.offset_5 {
  margin-left: 50%;
}

/* line 39, ../sass/base/_grid.scss */
.offset_5_half {
  margin-left: 54%;
}

/* line 40, ../sass/base/_grid.scss */
.offset_6 {
  margin-left: 60%;
}

/* line 41, ../sass/base/_grid.scss */
.offset_6_half {
  margin-left: 64%;
}

/* line 42, ../sass/base/_grid.scss */
.offset_7 {
  margin-left: 70%;
}

/* line 43, ../sass/base/_grid.scss */
.offset_7_half {
  margin-left: 74%;
}

/* line 44, ../sass/base/_grid.scss */
.offset_8 {
  margin-left: 80%;
}

/* line 45, ../sass/base/_grid.scss */
.offset_8_half {
  margin-left: 84%;
}

/* line 46, ../sass/base/_grid.scss */
.offset_9 {
  margin-left: 90%;
}

/* line 47, ../sass/base/_grid.scss */
.offset_9_half {
  margin-left: 94%;
}

/* line 49, ../sass/base/_grid.scss */
.grid_7 > .grid_6_half {
  width: 64%;
}

/* line 50, ../sass/base/_grid.scss */
.grid_7 > .grid_9_half {
  width: 94%;
}

/* line 52, ../sass/base/_grid.scss */
.grid_7 > .offset_half {
  margin-left: 6%;
}

/* line 54, ../sass/base/_grid.scss */
.grid_b_1 {
  width: 8.33333333333333%;
}

/* line 55, ../sass/base/_grid.scss */
.grid_b_2 {
  width: 16.66666666666666%;
}

/* line 56, ../sass/base/_grid.scss */
.grid_b_3 {
  width: 24.99999999999999%;
}

/* line 57, ../sass/base/_grid.scss */
.grid_b_4 {
  width: 33.33333333333332%;
}

/* line 58, ../sass/base/_grid.scss */
.grid_b_5 {
  width: 41.66666666666665%;
}

/* line 59, ../sass/base/_grid.scss */
.grid_b_6 {
  width: 49.99999999999998%;
}

/* line 60, ../sass/base/_grid.scss */
.grid_b_7 {
  width: 58.33333333333331%;
}

/* line 61, ../sass/base/_grid.scss */
.grid_b_8 {
  width: 66.66666666666664%;
}

/* line 62, ../sass/base/_grid.scss */
.grid_b_9 {
  width: 74.99999999999997%;
}

/* line 63, ../sass/base/_grid.scss */
.grid_b_10 {
  width: 83.3333333333333%;
}

/* line 64, ../sass/base/_grid.scss */
.grid_b_11 {
  width: 91.66666666666663%;
}

/* line 65, ../sass/base/_grid.scss */
.grid_b_12 {
  width: 100%;
}

/* line 67, ../sass/base/_grid.scss */
.offset_b_1 {
  margin-left: 8.33333333333333%;
}

/* line 68, ../sass/base/_grid.scss */
.offset_b_2 {
  margin-left: 16.66666666666666%;
}

/* line 69, ../sass/base/_grid.scss */
.offset_b_3 {
  margin-left: 24.99999999999999%;
}

/* line 70, ../sass/base/_grid.scss */
.offset_b_4 {
  margin-left: 33.33333333333332%;
}

/* line 71, ../sass/base/_grid.scss */
.offset_b_5 {
  margin-left: 41.66666666666665%;
}

/* line 72, ../sass/base/_grid.scss */
.offset_b_6 {
  margin-left: 49.99999999999998%;
}

/* line 73, ../sass/base/_grid.scss */
.offset_b_7 {
  margin-left: 58.33333333333331%;
}

/* line 74, ../sass/base/_grid.scss */
.offset_b_8 {
  margin-left: 66.66666666666664%;
}

/* line 75, ../sass/base/_grid.scss */
.offset_b_9 {
  margin-left: 74.99999999999997%;
}

/* line 76, ../sass/base/_grid.scss */
.offset_b_10 {
  margin-left: 83.3333333333333%;
}

/* line 77, ../sass/base/_grid.scss */
.offset_b_11 {
  margin-left: 91.66666666666663%;
}

/* line 109, ../sass/base/_grid.scss */
.grid_1,
.grid_1_half,
.grid_b_1,
.grid_2,
.grid_2_half,
.grid_b_2,
.grid_3,
.grid_3_half,
.grid_b_3,
.grid_4,
.grid_4_half,
.grid_b_4,
.grid_5,
.grid_5_half,
.grid_b_5,
.grid_6,
.grid_6_half,
.grid_b_6,
.grid_7,
.grid_7_half,
.grid_b_7,
.grid_8,
.grid_8_half,
.grid_b_8,
.grid_9,
.grid_9_half,
.grid_b_9,
.grid_10,
.grid_b_10,
.grid_b_11,
.grid_b_12 {
  padding-right: 1%;
  padding-left: 1%;
  float: left;
  display: block;
}

/* line 116, ../sass/base/_grid.scss */
.alpha {
  padding-left: 0;
}

/* line 117, ../sass/base/_grid.scss */
.omega {
  padding-right: 0;
}

/* line 119, ../sass/base/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 119, ../sass/base/_grid.scss */
.container:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 119, ../sass/base/_grid.scss */
* html .clearfix, *:first-child + html .clearfix {
  zoom: 1;
}

/* line 1, ../sass/base/_header.scss */
.header {
  background: url("../img/header-bg.png") repeat-x;
  border-top: 3px solid #222;
  height: 142px;
  margin-bottom: -139px;
  position: relative;
  z-index: 9999;
}

/* line 10, ../sass/base/_header.scss */
.header .container {
  background: url("../img/header.png") top center no-repeat;
  height: 139px;
  padding: 0;
}

/* line 16, ../sass/base/_header.scss */
.header.scrolled {
  position: absolute;
  top: 280px;
}

/* line 1, ../sass/base/_product-listing.scss */
.product-listing {
  cursor: pointer;
  margin: 10px 0;
}

/* line 6, ../sass/base/_product-listing.scss */
.product-listing img {
  margin: 0 10px 10px;
  width: 160px;
}

/* line 11, ../sass/base/_product-listing.scss */
.rating {
  font-size: 14px;
}

/* line 15, ../sass/base/_product-listing.scss */
.rating .no-star {
  color: #c2c2c2;
}

/* line 19, ../sass/base/_product-listing.scss */
.rating .mouse {
  margin-left: 10px;
}

/* line 23, ../sass/base/_product-listing.scss */
.rating.mouse {
  color: #222222;
  font-size: 12px;
}

/* line 28, ../sass/base/_product-listing.scss */
.product-listing .details .brand-name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

/* line 34, ../sass/base/_product-listing.scss */
.product-listing .details .product-name {
  display: block;
}

/* line 38, ../sass/base/_product-listing.scss */
.product-listing .details .price {
  color: #222222;
}

/* line 42, ../sass/base/_product-listing.scss */
.product-listing .details .price.sale {
  color: #e48325;
}

/* line 46, ../sass/base/_product-listing.scss */
.product-listing .details .price strike {
  color: #666666;
}

/* line 50, ../sass/base/_product-listing.scss */
.product-listing .details .credits {
  background: #efefef;
  color: #e48325;
  display: inline-block;
  margin-top: 5px;
  padding: 3px 5px 0 5px;
}

/* line 58, ../sass/base/_product-listing.scss */
.product-listing.horizontal img {
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  width: 80px;
}

/* line 65, ../sass/base/_product-listing.scss */
.product-listing.horizontal .details {
  overflow: hidden;
}

/* line 1, ../sass/base/_tooltip.scss */
.tooltip {
  background: #222;
  -webkit-box-shadow: 0 0 20px rgba(32, 32, 32, 0.6);
  -moz-box-shadow: 0 0 20px rgba(32, 32, 32, 0.6);
  box-shadow: 0 0 20px rgba(32, 32, 32, 0.6);
  display: block;
  font-style: italic;
  height: 32px;
  left: 0;
  opacity: 0;
  padding: 0 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

/* line 15, ../sass/base/_tooltip.scss */
.tooltip.mouse {
  color: #fff;
  line-height: 32px;
}

/* line 20, ../sass/base/_tooltip.scss */
.tooltip:after {
  border-left: 0 solid transparent;
  border-right: 14px solid transparent;
  border-top: 8px solid #222222;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
}

/* line 1, ../sass/base/_type.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 3, ../sass/base/_type.scss */
body {
  color: #222222;
  font-family: Conduit, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

/* line 20, ../sass/base/_type.scss */
h1,
h2,
h3,
h4,
h5,
.header-0,
.header-1,
.header-2,
.header-3,
.header-4,
.header-5 {
  text-transform: uppercase;
  line-height: 1.35;
}

/* line 25, ../sass/base/_type.scss */
.header-0 {
  font-size: 60px;
  line-height: 50px;
}

/* line 31, ../sass/base/_type.scss */
h1,
.header-1 {
  font-size: 44px;
}

/* line 36, ../sass/base/_type.scss */
h2,
.header-2 {
  font-size: 32px;
}

/* line 41, ../sass/base/_type.scss */
h3,
.header-3 {
  font-size: 24px;
}

/* line 46, ../sass/base/_type.scss */
h4,
.header-4 {
  font-size: 18px;
}

/* line 50, ../sass/base/_type.scss */
.mouse {
  font-size: 16px;
  color: #666666;
  line-height: 18px;
}

/* line 56, ../sass/base/_type.scss */
a {
  color: #3399cc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 62, ../sass/base/_type.scss */
a:hover {
  color: #222222;
}

/* line 66, ../sass/base/_type.scss */
a.white {
  color: #fff;
  text-decoration: underline;
}

/* line 71, ../sass/base/_type.scss */
a.white:hover {
  color: #fff;
  text-decoration: none;
}

/* line 76, ../sass/base/_type.scss */
hr {
  border: 0;
  border-top: 1px solid #c2c2c2;
  display: block;
  float: left;
  height: 0;
  margin: 0;
  position: relative;
  padding: 0;
  width: 100%;
}

/* line 88, ../sass/base/_type.scss */
hr.light {
  border-top: 1px solid #efefef;
}

/* line 14, ../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/base.scss */
body, html {
  padding: 0;
  margin: 0;
}
