.product-wall {
  background:$light-gray;
  padding:40px 0 100px;
}

/* mini-profile */
.mini-profile {
  background: #222;
  box-shadow: 0 0 24px rgba(34, 34, 34, 0.6);
  cursor: pointer;
  display: block;
  height: 197px;
  opacity: 0;
  left:-2px;
  position: absolute;
  top: -187px;
  width: 440px;
  -webkit-transform: scale(0, 0);
  -webkit-transform-origin: left 110%;
  -webkit-transition: all .3s ease-in-out; }

.mini-profile:after {
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
  border-top: 16px solid #222;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: all .3s ease-in-out; }

.mini-profile.active {
  opacity: 1;
  -webkit-transform: scale(1, 1); }

.mini-profile.follow-hover:after {
  border-top: 16px solid #99cc33; }

.profile-pic {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 153px;
  width: 153px; }

.follow-btn {
  background: #222222 url("../../img/ico-24-plus-white.png") 10px 10px no-repeat;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 44px;
  line-height: 41px;
  padding: 3px 20px 0 44px;
  width: 153px;
  -webkit-transition: background-color .3s ease-in-out; }
  
.mini-profile h3 {
  margin:0;
  line-height:0;
}

.tab {
  display: block;
  height: 197px;
  position: absolute;
  right: 44px;
  top: 0;
  width: 243px; }

.tab-icon {
  background-color: #222;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 44px;
  position: absolute;
  right: -44px;
  width: 44px; }

.passions .tab-icon {
  background-image: url("../../img/ico-24-heart-white.png");
  top: 44px; }

.location .tab-icon {
  background-image: url("../../img/ico-24-location-white.png");
  top: 88px; }

.bio .tab-icon {
  background-image: url("../../img/ico-24-description-white.png"); }

.tab-content {
  background: #fff;
  display: none;
  height: 197px;
  overflow: hidden;
  padding: 20px;
  width: 243px; }

.tab.active .tab-icon {
  background-color: #fff; }

.passions.active .tab-icon {
  background-image: url("../../img/ico-24-heart-black.png"); }

.location.active .tab-icon {
  background-image: url("../../img/ico-24-location-black.png"); }

.bio.active .tab-icon {
  background-image: url("../../img/ico-24-description-black.png"); }

.tab.active .tab-content {
  display: block; }

.tab-content p:first-child {
  margin-top: 0; }

.tab-content:after {
  bottom: 0;
  content: '';
  display: block;
  height: 100px;
  position: absolute;
  right: 0;
  width: 100%;
  background-image: linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, white), color-stop(1, rgba(255, 255, 255, 0))); }

.full-profile {
  background: url("../../img/ico-24-more-white.png") center center no-repeat;
  bottom: 0;
  display: block;
  height: 44px;
  position: absolute;
  right: 0;
  width: 44px; }

.full-profile:hover {
  background-color: #99cc33; }

.full-profile .tooltip {
  background: #222;
  color: #fff;
  box-shadow: 0 0 20px rgba(32, 32, 32, 0.6);
  display: inline-block;
  font-style: italic;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  position: absolute;
  right: 22px;
  top: -28px;
  white-space: nowrap;
  display: none;
  opacity: 0;
  z-index: 9999; }

.full-profile .tooltip:after {
  border-right: 0px solid transparent;
  border-left: 14px solid transparent;
  border-top: 8px solid #222;
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 100%; }

